# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and *.foo files
!.gitignore
!.md
!.vhd
!.qpf
*.summary
*.smsg
*.rpt
*.sof
*.pof
*.pin
*.jdi
*.sdo
*.rcfdb
*.sft
